body {
    max-width: 100%;
    background-color: #118EBF;
    /* background-image: url('./img/icvemprinci.jpg');*/
    /* background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none; */

}

body.fade-out {
    opacity: 0;
}

header {
    /* background-color: rgba(238, 16, 16, 0.5); */
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 9999;
    /* color: #ce1a1a; */

}

.containermundo {
    max-width: 100%;
    z-index: 9999;
    position: fixed;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    width: 100%;
    height: 15%;
    height: 12%;
    border: none;
    background-image: linear-gradient(180deg, #00000059 0%, #0000002c 100%);
    background-size: cover;

}

.containerprincipal {
    max-width: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #118ebf83 100%), url('../images/mundo.gif');
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.video {
    max-width: 100%;
    background-color: transparent;
    width: 600px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.titleprincipal {
    max-width: 100%;
    background-color: transparent;
    width: 850px;
    display: block;
    margin: auto;
    margin-top: 50px;

}

.logopaloma {
    max-width: 100%;
    background-color: transparentgi;
    width: 350px;
    display: block;
    margin: auto;
    margin-top: 50px;

}


h1 {
    font-size: 80px;
    color: #ffffff;
    /* border: dashed rgb(253, 253, 253); */
    text-align: center;
    -webkit-text-stroke: 1px #000000;
    margin-top: 10px;
    /* font-family: 'Raleway', sans-serif; */

}

p {
    max-width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 100%;
    /* -webkit-text-stroke: 1px #ffffff; */
    margin-top: 100px;
    justify-content: center;
}

/* ul {
    border: none;
} */


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;


}

nav ul li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    /* espacio entre elementos de navegación */
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Copperplate', 'Papyrus', 'fantasy'; */
    /* -webkit-text-stroke: 2px #ffffff; */



}

nav ul li a:hover {
    color: #000000;
    /* color al pasar el ratón */

}

footer {
    margin-top: 100px
}


.a {
    position: relative;
}

.logo {
    background-color: transparent;
    width: 100px;
    /* Ancho del logotipo */
    height: auto;
    /* Mantener proporción de aspecto */
    /* z-index: 9999;
    position: fixed; */


}

.logotitulo {
    text-align: center;
    display: flex;
    align-items: center;
    /* border: 1px dashed rgb(255, 255, 255); */
    /* padding: 0px; */


}




nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

}

section {
    display: block;
    align-items: center;


}

.footer_redes {


    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* align-items: center;
    justify-content: center; */
    /* justify-content: flex-end; */
    width: 100%;
    height: 0%;
    margin: 0;
    padding: 0;
    border: none;
    background-image: linear-gradient(180deg, #00000059 0%, #0000002c 100%);
    background-size: cover;
    margin-top: 10px;


}


.container_footer {

    margin-top: 20px;
    font-size: 70%;
    text-align: center;
    justify-content: center;


}

.footer__copyright {
    font-weight: 300;
    margin-top: 10px;
    /* font-weight: 300; */
    font-size: 80%;
    --padding-container: 30px 0;
    text-align: center;
    /* align-items: center; */
    /* white-space: pre-line; */

    color: #fff;
}

/* .footer__icons {
    margin-bottom: 10px;
} */

.footer__img {
    width: 35px;
}

/* .footer_redes .section .div .a {
    width: 0xp;
} */

.footerversicule {
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    /* -webkit-text-stroke: 1px #ffffff; */
    margin-top: 10px;
    justify-content: center;
}

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 10px 5px;
    color: #fff;
    letter-spacing: 0px;
    font-size: 19px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 5px;
}

.btn-neon:hover {
    background-color: #07C7F2;
    box-shadow: 0 0 10px #07C7F2, 0 0 40px #07C7F2, 0 0 80px #07C7F2;
    transition-delay: 0s;

}

.btn-neon span {
    position: absolute;
    display: block
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
}

.btn-neon:hover #span1 {
    left: 100%;
    transition: 1s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
}

.btn-neon:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2 {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
}

.btn-neon:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4 {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffffff);
}

.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.inicioservicos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.serviciosdescripcion {
    max-width: 100%;
    /*  background-color: #07c7f249; */
    text-align: center;
    /* width: 100%; */
    /*desborda contenido de Body */
    padding-bottom: 20px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 30px;
    /* Centrar horizontalmente */
}

.tittleserviciosdescripcion {
    flex-direction: column;
    /* Establece la dirección vertical */
    display: flex;
    max-width: 100%;
    color: white;
    margin: 5 auto;
    padding-top: 20px;
    align-content: center;
}

.youtube {
    max-width: 100%;
    width: 1000px;
    height: 315px;
    border-radius: 9px;
}

/* Prueba de responsive */
/* .navbar {
    background-color: #33333300;
    color: #fff;
    padding: 15px 0;
} */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #07C7F2;
    margin: 5px;
    transition: transform 0.4s;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
    }

    .menu-toggle {
        display: block;
        padding-right: 20px;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: right;
        margin-top: 336px;
        right: 0;
        background-image: linear-gradient(180deg, #0000003d 0%, #0000002c 100%);
        width: 30%;
        padding: 0px 0px;
        z-index: 1;

    }

    .nav-list.active li {
        margin: 10px 0;
    }
}

/* Perfil de JJCaicedo */

.biografia {
    margin-top: 20px;
    padding: 20px;

}

.containerphoto {
    max-width: 100%;
    width: 100%;
    display: flex;
    background-color: #07C7F2;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-left: auto;

}

.perfilsecction {
    max-width: 100%;
    display: flex;
    background-image: linear-gradient(180deg, #00000059 0%, #0000002c 100%);
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    width: 100%;
    height: auto;
    margin-top: auto;
    margin: auto;
}

.perfil {
    max-width: 100%;
    background-color: transparent;
    width: 180px;
    display: row;
    text-align: center;
    justify-content: center;
    margin-top: 120px;
    margin-left: 20px;
    border-radius: 140px;
    margin: 10px;
}

.description {
    width: 100%;
    background-color: yellow;
    margin: 30px;
    /* Centra el contenedor horizontalmente */
}

.textoperfil {
    text-align: justify;
    /* Justifica el texto */
    line-height: 1.5;
    /* Ajusta el espaciado entre líneas */
    font-family: 'Arial';
}

.subtitulo {
    margin: 0 0 10px 0;
    padding: 20px;
    background-color: #118EBF;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 20px;
    text-align: center;
}

.article2 {
    display: flex;
}

.textvm {
    background-color: rgb(221, 26, 26);
    font-size: 1.2rem;
    /* Tamaño de texto base */
    text-align: justify;
    align-items: justify;
    /* Alinea el texto de manera justificada */
    line-height: 1;
    /* Espaciado entre líneas para mejorar la lectura */
    padding: 1rem;
    margin-top: 10xp;
    margin-bottom: 10xp;


}

.titlevmh {
    margin: 10px 10px 10px 10px;
    color: #fff;
    font-size: 50px;
    text-align: center;
    justify-content: center;
}

.titlevm p {
    text-align: justify;
    /* Justifica el texto */
    line-height: 1.5;
    /* Ajusta el espaciado entre líneas */
    font-family: 'Arial';
}

.titulon {

    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 80px;
    /* Espacio superior */
    animation: resaltar 2s infinite alternate;
    /* Animación de resaltado */

}

@keyframes resaltar {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}